.theme{
	width:100%;
	height:100%;
	display: block;
	background: url(../../images/theme/background.jpg) no-repeat;
	background-size: contain;
}
.theme .first_content{
	width:100%;
	height:80%;
}
.theme .first_content .top_banner{
	width:100%;
	height:10%;
	background-color: #000000;
	margin: 0;
	z-index: 5;
}
.theme .first_content .top_banner .status{
	color: #ffffff;
	float: left;
}
.theme .first_content .top_banner .option{
	float: right;
}
.theme .first_content .top_banner .option a{
	color: #ffffff;
	margin: 10px 10px;
	display: inline-block;
}
.theme .first_content .top_banner .option .photographer_in{
	border: solid 1px #ffffff;
	border-radius: 5px;
	padding: 2px 2px 2px 2px;
}
.theme .first_content .va-middle{
	width:30%;
	height:15%;
	text-align: center;
	margin-top: 15%;
	margin-left: 10%;
	background: #ffffff;
}
.theme .second_content{
	width:100%;
	height:20%;
	background: #ffffff;
}
.theme .second_content .picture{
	background: url(../../images/theme/background.jpg) no-repeat;
	background-size: contain;
	margin-left: 10%;
}
.theme .second_content div{
	display: inline-block;
	margin-left: 10%;
}
