h1 {
	text-align:center;
}

table {
	width: 80%;
	margin: 5px 10% 5px 10%;
	text-align: center;
}

.eachcase {
	width: 80%;
	background-color: white;
	margin: 0% 10% 10px 10% 
}

.aboutcase {
	width: 20%;
	height: 50px;
	display: inline-block;
	margin: 5px 1% 5px 1%;
	border-right: 1px solid #D8D8D8 ;
	border-radius: 0;
}

.description {
	width: 75%;
	height: 50px;
	float: right;
	display: inline-block;
	margin: 5px 1% 5px 1%;

}

.page {
	width: 40%;
	margin: 0px 30% 0px 30%;
}

.pageInfo, .pageControl {
	background: #0066FF ;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	line-height: 40px;
	min-width: 40px;
	height: 40px;
	margin: 0 -30px 0 40px;
	text-align: center;
	font-weight: 200;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	transition: background 500ms;
}

.pageInfo {
	background: #FFFFFF ;
	color: #000000;
}

