img {
	border-radius: 3px;
	width: 96%;
	margin: 2% 2% 2% 2%;
}

.projectList {
	float: left;
	display: inline-block;
	background-color: white;
	width: 30%;
	margin: 20px 20px 20px 20px;
}

.post {
	width: 95%;
	margin: 2% 2% 2% 2%;
	padding: 5px 5px 5px 5px
}

.title {
	text-align: center;
	width: 100%;
	height: 30px;
}

.descript {
	font-size: 12px;
	font-family: Arial;
}

.likes {
	background: #F65A5B ;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	line-height: 40px;
	min-width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 0 -30px 0 40px;
	text-align: center;
	font-weight: 200;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	transition: background 500ms;
}

.likes:hover {
 color: #F65A5B ;
   background: rgba(246, 90, 91, 0.25);
   transition: background 500ms;
}

.share {
	background: #0066FF ;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	line-height: 40px;
	min-width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 0 -30px 0 40px;
	text-align: center;
	font-weight: 200;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	transition: background 500ms;
}