<!DOCTYPE>
<html>
<header>
	<title>Carrybazi</title>
	<meta charset="utf-8">
    
	<link type="text/css" rel="stylesheet" href="css/layout.css"/>

	<script src="js/angular.min.js"></script>
	

</header>
<body ng-app='project'>
	
	<link type="text/css" rel="stylesheet" href="css/project.css"/>

	<div class='header'>
		
	</div>
	<div class='menu'>
		
    </div>

    <div class='body' ng-controller='ProjectController'>
		<div class='title'>
			<h1>{{title}}</h1>
		</div>
		<div ng-repeat='project in projects'>
			<div class='projectList'>
				<img ng-src='{{project.img}}'/>
				<div class='post'>
					<h2>{{project.name}}</h2>
					<p>{{project.publish_date | date}}</p>
					<p class='descript'>{{project.description}}</p>
					<div class="rating">
						<p class="likes" ng-click="plusOne($index)">{{ project.likes }}</p>
						<p class="share"ng-click="share($index)">share</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>

    <div class='footer'>
    	<div class='ourInfo'>about us</div>
    </div>
	
	
	<script src='js/app.js'></script>
	<script src='js/controllers/ProjectController.js'></script>
</body>
</html>