.userInfoBody{
}
.userInfoBody .topBanner{
	width: 100%;
	height:630px;
	background: rgba(0,0,0,0.5);
}
.userInfoBody .contentDiv{

}
.userInfoBody .contentDiv .leftUserInfo{
	display: inline-block;
	width: 15%;
	min-width: 300px;
	border-right:1px solid rgba(0,0,0,0.2);	
	min-height: 1000px;
}
.userInfoBody .contentDiv .leftUserInfo .userPhoto{
	width: 100%;
	height:300px;
	background:yellow;
}
.userInfoBody .contentDiv .leftUserInfo .userDetail{
	text-align: center;
}
.userInfoBody .contentDiv .leftUserInfo .userDetail p{
	margin: 10px auto;
}
.userInfoBody .contentDiv .leftUserInfo .userDetail .plaintext{
	font-size: 15px;
}
.userInfoBody .contentDiv .leftUserInfo .userDetail .highlight{
	font-size: 25px;
}
.userInfoBody .contentDiv .mainContext{
	display: inline-block;
}