<!-- import  -->


<link href="<?php echo WEB_PATH; ?>/css/home/home.css" rel="stylesheet"/>

<!-- content -->
<div class="guide">
	<div class=""></div>
	<div class=""></div>
	<div class=""></div>
</div>
<div class="first">
	
	<div class="first_content">
		<div class="top_banner">
			<div class="status">
				<img src="/account.png">
				<h2>Name</h2>
			</div>
			<div class="option">
				<a href="/" class="photographer_in">
		          攝影師進駐
		        </a>
		        <a href="/" class="login">
		          登入
		        </a>
		        <a href="/" class="sign_up">
		          註冊
		        </a>
			</div>
		</div>

		<div class="va-middle">
	        <h2 class="text_title">
	          預約一個專屬的攝影師
	        </h2>
	        <div class="text_slogan">
	          紀念每一個感動瞬間
	        </div>

	        <a href="/" class="get_help">
	          如何使用Airbnb
	        </a>

	    </div>
	</div>

</div>
<div class="second">
	<div class="second_content">
		<h2>特別企劃</h2>
		<a href="/" class="northern">
		  北部
        </a>
        <a href="/" class="central">
          中部
        </a>
        <a href="/" class="sourthern">
          南部
        </a>
	</div>
	<div class="second_backgound">
	
	</div>
</div>
<div class="third">
	<div class="third_title">
		<h2>發現</h2>
		<a href="/" id="top1">
		  婚禮
        </a>
        <a href="/" id="top2">
          寵物
        </a>
        <a href="/" id="top3">
          畢業
        </a>
        <a href="/" id="top4">
          Cosplay
        </a>
        <a href="/" id="top5">
          產品
        </a>
	</div>
	<div class="third_show">
		<div id="top1_show"></div>
		<div id="top2_show"></div>
		<div id="top3_show"></div>
		<div id="top4_show"></div>
		<div id="top5_show"></div>
	</div>
</div>
<div class="forth">
	<div class="forth_title">
		<h2>發現攝影師</h2>
	</div>
	<div class="forth_content">
		
	</div>
	<div class="forth_slogan">
		<h2>一張好的照片是知道該在哪裡等待</h2>
	</div>
</div>