<!-- import  -->


<link href="<?php echo WEB_PATH; ?>/css/home/home.css" rel="stylesheet"/>

<!-- content -->
<div class="">

</div>
<div class="first">
	<div class="first_backgound">

	</div>
	<div class="first_content">
		<div class="top_banner">
			<div class="status">
				<img src="../../images/home/account.png">
				<h2>Name</h2>
			</div>
			<div class="option">
				<a href="/" class="photographer_in">
		          攝影師進駐
		        </a>
		        <a href="/" class="login">
		          登入
		        </a>
		        <a href="/" class="sign_up">
		          註冊
		        </a>
			</div>
		</div>

		<div class="va-middle">
	        <h2 class="text_title">
	          預約一個專屬的攝影師
	        </h2>
	        <div class="text_slogan">
	          紀念每一個感動瞬間
	        </div>

	        <a href="/" class="get_help">
	          如何使用Airbnb
	        </a>

	    </div>
	</div>

</div>
<div class="">

</div>
<div class="">

</div>
<div class="">

</div>