<!-- import  -->

<script src="http://lab.subinsb.com/projects/jquery/core/jquery-2.1.1.js"></script>
<script src="http://lab.subinsb.com/projects/jquery/voice/recorder.js"></script>
<script src="http://lab.subinsb.com/projects/jquery/voice/jquery.voice.min.js"></script>

<script src="<?php echo WEB_PATH; ?>/js/talk/ws.js"></script>
<script src="<?php echo WEB_PATH; ?>/js/talk/time.js"></script>
<script src="<?php echo WEB_PATH; ?>/js/talk/chat.js"></script>

<link href="<?php echo WEB_PATH; ?>/css/talk/chat.css" rel="stylesheet"/>

<!-- content -->
<div class="enterChatRoom">
	<input type="text" id="myName" placeholder="Enter your name" value="<?php echo $this->myName; ?>" />
	<input type="button" id="btnEnter" value="Go Chat" />
</div>
<div class="chatDiv">
	<ul class="UserList">
		<li>No User online</li>
	</ul>
	<div class="chatWindow">
		<div style="display: none;postion: absolute;">
			<input type="file" id="photoFile" accept="image/*" />
			<input type="text" id="receiver" value="<?php echo $this->msgReceiver; ?>">
		</div>
		<div class="chat">
			<div class="msgs"></div>
			<form id="msgForm">
				<textarea name="msg" placeholder="Type message here...."></textarea>
				<a class="button" id="photo" title="Type in a message and choose image to send"></a>
			</form>
		</div>
	</div>
</div>