<!-- import  -->
<link href="<?php echo WEB_PATH; ?>/css/theme/theme.css" rel="stylesheet"/>

<!-- content -->
<div class="theme">
	<div class="first_content">
		<div class="top_banner">
			<div class="status">
				<img src="/account.png">
				<h2>Name</h2>
			</div>
			<div class="option">
				<a href="/" class="photographer_in">
		          攝影師進駐
		        </a>
		        <a href="/" class="login">
		          登入
		        </a>
		        <a href="/" class="sign_up">
		          註冊
		        </a>
			</div>
		</div>

		<div class="va-middle">
	        <h2 class="text">
	          主題
	        </h2>
	    </div>
	    
	</div>
	<div class="second_content">
        <div class="picture">
        	
        </div>
        <div class="introduction">
        	<h3>單片</h3>
        	<h2>180張</h2>
        </div>
        <div class="introduction">
        	<h3>後製</h3>
        	<h2>10張</h2>
        </div>
        <div class="introduction">
        	<h3>拍攝時長</h3>
        	<h2>2小時</h2>
        </div>
    </div>
</div>

<div class="photos">
	
</div>

<div class="detail"></div>

<div class="photographer"></div>