<div class="foot_banner">
  <div class="option">
    <a href="/" id="about">
      關於
    </a>
    <a href="/" id="news">
      最新消息
    </a>
    <a href="/" id="contract">
      使用條款
    </a>
    <a href="/" id="common_problem">
      常見問題
    </a>
    <a href="/" id="manual">
      使用流程
    </a>
  </div>
  
  <div class="like">
    <h3>關注我們</h3>
    <a href="/" id="facebook">
      f
    </a>
    <a href="/" id="Instagram">
      I
    </a>
    <a href="/" id="twitter">
      T
    </a>
  </div>
</div>